.menu{
    display: flex; 
    background:black; 
    height: 4rem; 
    justify-content: space-evenly;
   align-items: center; 
   
   }
   
   .menu  li a{
    color: white; 
    list-style: none; 
    font-size: 30px; 
    text-decoration: none; 
   }